requests
numpy
pandas
datetime
jsons
BeautifulSoup4
# asyncio
dataclasses
lxml
# Babel
dash
# dash-bootstrap-components
pandas-stubs
plotly
# pyyaml
# multiprocess
dash-mantine-components
dash-iconify
# icecream