.custom-scrollbar {
  --scrollbar-foreground: #999
  --scrollbar-background: #333
  --scrollbar-z-index: 999
  /* Foreground, Background */
  scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}
.custom-scrollbar::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
  z-index: 999;
}
.custom-scrollbar::-webkit-scrollbar-thumb { /* Foreground */
  background: var(--scrollbar-foreground);
  z-index: 999;
}
.custom-scrollbar::-webkit-scrollbar-track { /* Background */
  background: var(--scrollbar-background);
  z-index: 999;
}

.custom-section::-webkit-scrollbar {
  width: 16px;
  height: 16px;
  z-index: 999;
}

.custom-section::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
  /* z-index: 999; */
}

.custom-section::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
  border-radius: 100px;
  background-color: #9f9caf;
  background-clip: content-box;
  /* z-index: 999; */
}
