.custom-scrollbar {
  --scrollbar-foreground: #999
  --scrollbar-background: #333
  /* Foreground, Background */
  scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
}
.custom-scrollbar::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}
.custom-scrollbar::-webkit-scrollbar-thumb { /* Foreground */
  background: var(--scrollbar-foreground);
}
.custom-scrollbar::-webkit-scrollbar-track { /* Background */
  background: var(--scrollbar-background);
}

.custom-section::-webkit-scrollbar {
  width: 16px;
}

.custom-section::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.custom-section::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
  border-radius: 100px;
  background-color: #9f9caf;
  background-clip: content-box;
}
